[package]
name = "mstak"
version.workspace = true
edition.workspace = true
description = "Minimal Stak Scheme interpreter"
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
rustix = { workspace = true }
stak-sac = { workspace = true }

[lints]
workspace = true
