[package]
name = "mstak"
description = "Minimal Stak Scheme interpreter"
version = "0.3.8"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[dependencies]
stak-sac = { version = "0.1.44", path = "../../../sac", features = ["libc"] }

[lints]
workspace = true
