[package]
name = "stak-interpret"
description = "Stak Scheme bytecode interpreter"
version = "0.3.4"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
default = ["float"]
float = ["stak-vm/float"]
gc_always = ["stak-vm/gc_always"]
trace_instruction = ["stak-vm/trace_instruction"]
trace_memory = ["stak-vm/trace_memory"]

[dependencies]
clap = { version = "4.5.23", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.1.71", path = "../../configuration" }
stak-device = { version = "0.2.75", path = "../../device", features = ["std"] }
stak-file = { version = "0.4.33", path = "../../file", features = ["std"] }
stak-process-context = { version = "0.2.33", path = "../../process_context", features = [
  "std",
] }
stak-r7rs = { version = "0.8.10", path = "../../r7rs" }
stak-time = { version = "0.1.16", path = "../../time", features = ["std"] }
stak-vm = { version = "0.7.4", path = "../../vm" }

[lints]
workspace = true
