[package]
name = "stak-interpret"
description = "Stak Scheme bytecode interpreter"
version = "0.1.57"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
default = ["float"]
float = ["stak-vm/float"]
gc_always = ["stak-vm/gc_always"]
trace_instruction = ["stak-vm/trace_instruction"]
trace_heap = ["stak-vm/trace_heap"]

[dependencies]
clap = { version = "4.5.17", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.1.51", path = "../../configuration" }
stak-device = { version = "0.2.55", path = "../../device", features = ["std"] }
stak-file = { version = "0.4.13", path = "../../file", features = ["std"] }
stak-primitive = { version = "0.5.13", path = "../../primitive" }
stak-process-context = { version = "0.2.13", path = "../../process_context", features = [
  "std",
] }
stak-vm = { version = "0.5.13", path = "../../vm" }

[lints]
workspace = true
