[package]
name = "stak-interpret"
description = "Stak Scheme bytecode interpreter"
version = "0.1.22"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
gc_always = ["stak-vm/gc_always"]
trace = ["stak-vm/trace"]
trace_heap = ["stak-vm/trace_heap"]

[dependencies]
clap = { version = "4.5.4", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.1.16", path = "../../configuration" }
stak-device = { version = "0.2", path = "../../device", features = ["std"] }
stak-primitive = { version = "0.2", path = "../../primitive", features = [
  "std",
] }
stak-vm = { version = "0.3", path = "../../vm", features = ["std"] }
