[package]
name = "stak-dynamic"
description = "Dynamic primitives for Stak Scheme"
version = "0.1.1"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[dependencies]
any-fn = { version = "0.6.1" }
bitvec = "1.0.1"
heapless = { version = "0.8.0", default-features = false }
stak-vm = { version = "0.7.23", path = "../vm" }

[lints]
workspace = true
