version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    schedule:
      interval: daily
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: cargo
    directories:
      - /
      - /cmd/minimal
    schedule:
      interval: daily
  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: daily
  - package-ecosystem: npm
    directory: /
    groups:
      astro:
        patterns:
          - astro
          - "@astrojs/*"
    schedule:
      interval: daily
