[package]
name = "mstak-interpret"
version.workspace = true
edition.workspace = true
description = "Minimal Stak Scheme bytecode interpreter"
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
dlmalloc = { version = "0.2.12", features = ["global"] }
origin = { version = "0.26.2", default-features = false, features = [
  "libc",
] }
stak-device = { workspace = true }
stak-file = { workspace = true }
stak-libc = { workspace = true }
stak-process-context = { workspace = true }
stak-r7rs = { workspace = true }
stak-time = { workspace = true }
stak-vm = { workspace = true }

[lints]
workspace = true
