[package]
name = "stak-vm"
description = "Virtual machines for Stak Scheme"
version = "0.7.21"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
float = ["dep:nonbox"]
gc_always = []
profile = []
trace_instruction = []
trace_memory = []

[dependencies]
cfg-exif = "0.3.1"
nonbox = { version = "0.4.1", optional = true }

[dev-dependencies]
insta = "1.42.0"
stak-device = { path = "../device" }
stak-file = { path = "../file" }
stak-macro = { path = "../macro" }
stak-process-context = { path = "../process_context" }
stak-r7rs = { path = "../r7rs" }
stak-time = { path = "../time" }

[lints]
workspace = true
