[package]
name = "stak-vm"
version.workspace = true
edition.workspace = true
description = "Virtual machines for Stak Scheme"
readme.workspace = true
repository.workspace = true
license-file.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
cfg-elif = "0.6.3"
nonbox = { version = "0.5.10", optional = true }
stak-util = { version = "0.10.37", path = "../util" }
winter-maybe-async = "0.13.1"

[dev-dependencies]
insta = "1.43.1"
stak-device = { path = "../device" }
stak-file = { path = "../file" }
stak-macro = { path = "../macro" }
stak-process-context = { path = "../process_context" }
stak-r7rs = { path = "../r7rs" }
stak-time = { path = "../time" }

[features]
async = [
  "stak-device/async",
  "stak-file/async",
  "stak-macro/async",
  "stak-process-context/async",
  "stak-r7rs/async",
  "stak-time/async",
  "winter-maybe-async/async",
]
float = ["dep:nonbox"]
float62 = ["float"]
gc_always = []
profile = []
trace_instruction = []
trace_memory = []

[lints]
workspace = true
