[package]
name = "stak-macro"
description = "Macros to integrate Stak Scheme"
version = "0.2.12"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[lib]
proc-macro = true

[features]
hot-reload = []

[dependencies]
cfg-elif = "0.6.1"
proc-macro2 = { version = "1.0.93", features = ["proc-macro"] }
quote = "1.0.38"
stak-compiler = { version = "0.2.3", path = "../compiler" }
stak-macro-util = { version = "0.1.70", path = "../macro-util" }
syn = "2.0.96"

[dev-dependencies]
stak-device = { path = "../device" }
stak-file = { path = "../file" }
stak-process-context = { path = "../process_context" }
stak-r7rs = { path = "../r7rs" }
stak-time = { path = "../time" }
stak-vm = { path = "../vm" }

[lints]
workspace = true
