[package]
name = "stak-engine"
version.workspace = true
edition.workspace = true
description = "Stak Scheme scripting engine for Rust"
readme.workspace = true
repository.workspace = true
license-file.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
any-fn = "0.6.1"
cfg-elif = "0.6.3"
stak-device = { version = "0.10.38", path = "../device" }
stak-dynamic = { version = "0.10.38", path = "../dynamic" }
stak-file = { version = "0.10.38", path = "../file" }
stak-module = { version = "0.10.38", path = "../module" }
stak-process-context = { version = "0.10.38", path = "../process_context" }
stak-r7rs = { version = "0.10.38", path = "../r7rs" }
stak-time = { version = "0.10.38", path = "../time" }
stak-util = { version = "0.10.38", path = "../util" }
stak-vm = { version = "0.10.38", path = "../vm" }
winter-maybe-async = "0.13.1"

[dev-dependencies]
rand = "0.9.2"
stak = { path = "../root" }

[build-dependencies]
stak-build = { version = "0.10.38", path = "../build" }

[features]
async = [
  "stak-device/async",
  "stak-file/async",
  "stak-process-context/async",
  "stak-r7rs/async",
  "stak-time/async",
  "stak-vm/async",
  "winter-maybe-async/async",
]
libc = ["stak-device/libc"]
std = ["stak-device/std"]

[lints]
workspace = true
