.container {
  composes: boxShadow from "../system.css";
  font-size: inherit;
  background-color: tomato;
  color: white;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1rem;

  &.disabled {
    background-color: dimgrey;
  }
}
