---
import classNames from "classnames";
import styles from "./Demo.module.css";

interface Props {
  class?: string;
}

const props = Astro.props;
---

<div class={classNames(styles.root, props.class, "not-content")}>
  <slot />
</div>
