.root {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  min-width: 0;
}

.input {
  min-height: 4rem;
}

.output {
  composes: textArea from "../../system.module.css";
  min-height: 4rem;
  overflow: auto;
  flex: 1;
  margin: 0;

  & > pre {
    margin: 0;
  }
}
