[package]
name = "stak-profile"
version.workspace = true
edition.workspace = true
description = "Stak Scheme profiler"
readme.workspace = true
repository.workspace = true
license-file.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
clap = { version = "4.5.42", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.10.34", path = "../../configuration" }
stak-device = { version = "0.10.34", features = ["std"], path = "../../device" }
stak-file = { version = "0.10.34", features = ["std"], path = "../../file" }
stak-process-context = { version = "0.10.34", features = [
  "std",
], path = "../../process_context" }
stak-profiler = { version = "0.10.34", path = "../../profiler" }
stak-r7rs = { version = "0.10.34", path = "../../r7rs" }
stak-time = { version = "0.10.34", features = ["std"], path = "../../time" }
stak-vm = { version = "0.10.34", features = ["profile"], path = "../../vm" }

[features]
default = ["float"]
float = ["stak-vm/float"]

[lints]
workspace = true
