[package]
name = "stak-profile"
description = "Stak Scheme profiler"
version = "0.3.7"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
default = ["float"]
float = ["stak-vm/float"]

[dependencies]
clap = { version = "4.5.23", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.1.74", path = "../../configuration" }
stak-device = { version = "0.2.78", path = "../../device", features = ["std"] }
stak-file = { version = "0.4.36", path = "../../file", features = ["std"] }
stak-process-context = { version = "0.2.36", path = "../../process_context", features = [
  "std",
] }
stak-profiler = { version = "0.2.7", path = "../../profiler" }
stak-r7rs = { version = "0.8.13", path = "../../r7rs" }
stak-time = { version = "0.1.19", path = "../../time", features = ["std"] }
stak-vm = { version = "0.7.7", path = "../../vm", features = ["profile"] }

[lints]
workspace = true
