[package]
name = "stak-profile"
version.workspace = true
edition.workspace = true
description = "Stak Scheme profiler"
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[dependencies]
clap = { version = "4.5.53", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { path = "../../configuration", version = "0.11.14" }
stak-device = { path = "../../device", version = "0.11.14", features = ["std"] }
stak-file = { path = "../../file", version = "0.11.14", features = ["std"] }
stak-process-context = { path = "../../process-context", version = "0.11.14", features = [
  "std",
] }
stak-profiler = { path = "../../profiler", version = "0.11.14" }
stak-r7rs = { path = "../../r7rs", version = "0.11.14" }
stak-time = { path = "../../time", version = "0.11.14", features = ["std"] }
stak-vm = { path = "../../vm", version = "0.11.14", features = ["profile"] }

[features]
default = ["float"]
float = ["stak-vm/float"]

[lints]
workspace = true
