[package]
name = "stak-profile"
description = "Stak Scheme profiler"
version = "0.2.3"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
default = ["float"]
float = ["stak-vm/float"]

[dependencies]
clap = { version = "4.5.20", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.1.64", path = "../../configuration" }
stak-device = { version = "0.2.68", path = "../../device", features = ["std"] }
stak-file = { version = "0.4.26", path = "../../file", features = ["std"] }
stak-process-context = { version = "0.2.26", path = "../../process_context", features = [
  "std",
] }
stak-profiler = { version = "0.1.37", path = "../../profiler" }
stak-r7rs = { version = "0.8.3", path = "../../r7rs" }
stak-time = { version = "0.1.9", path = "../../time", features = ["std"] }
stak-vm = { version = "0.6.3", path = "../../vm", features = ["profile"] }

[lints]
workspace = true
