---
import DemoComponent from "../components/Demo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}/icon.svg`} />
    <title>Stak Scheme demo</title>
  </head>
  <body>
    <style>
      * {
        box-sizing: border-box;
      }

      :root {
        color-scheme: light dark;

        --primary-text-color: light-dark(black, white);
        --secondary-text-color: light-dark(dimgray, gainsboro);

        --primary-background-color: light-dark(white, #222);
        --secondary-background-color: light-dark(#fcfcfc, #282828);
      }

      html {
        width: 100dvw;
        height: 100dvh;
        font-size: 16px;
        font-family: sans-serif;
      }

      body {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        margin: 0;
        background-color: var(--primary-background-color);
      }
    </style>
    <DemoComponent />
  </body>
</html>
