---
import { DemoForm } from "../components/DemoForm";
import { DemoOutput } from "../components/DemoOutput";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}/icon.svg`} />
    <title>Stak Scheme demo</title>
  </head>
  <body>
    <style>
      * {
        box-sizing: border-box;
      }

      html {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        font-size: 16px;
        font-family: sans-serif;
      }

      body {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        margin: 0;

        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: stretch;

        & > * {
          flex: 1;
        }
      }
    </style>
    <DemoForm client:load />
    <DemoOutput client:load />
  </body>
</html>
