---

---

<html lang="en">
  <head>
    <title>Stak Scheme demo</title>
  </head>
  <body>
    <style>
      html,
      body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }

      textarea {
      }
    </style>
    <form>
      <textarea>(import (scheme write)) (display "Hello, world!")</textarea>
      <pre>
        <code>
          </code>
      </pre>
    </form>
  </body>
</html>
