---
import Layout from "../layouts/Default.astro";
---

<Layout
  title="Welcome to Astro."
  description="No-std and no-alloc Scheme implementation in Rust"
>
  <main>
    <h1>Stak</h1>
    <p>
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
      above.
    </p>
  </main>
</Layout>
