[workspace]
resolver = "2"
members = ["interpret", "run"]

[workspace.package]
edition = "2021"
keywords = ["interpreter", "language", "scheme"]
license-file = "../../LICENSE"
readme = "../../README.md"
repository = "https://github.com/raviqqe/stak"

[workspace.lints.rust]
missing_docs = "deny"
warnings = "deny"

[workspace.lints.clippy]
alloc_instead_of_core = "deny"
dbg_macro = "deny"
std_instead_of_alloc = "deny"
# TODO Enable this when it is fixed.
# std_instead_of_core = "deny"
todo = "deny"
unimplemented = "deny"
use_self = "deny"

[profile.dev]
lto = true
opt-level = 3
panic = "abort"

[profile.release]
codegen-units = 1
lto = true
panic = "abort"
strip = true

[profile.release.build-override]
opt-level = 3
debug-assertions = false
overflow-checks = false
