[workspace]
resolver = "3"
members = ["interpret", "run"]

[workspace.package]
version = "0.12.3"
edition = "2024"
readme = "../../README.md"
repository = "https://github.com/raviqqe/stak"
license = "MIT"
keywords = ["interpreter", "language", "scheme"]
categories = ["compilers", "no-std", "no-std::no-alloc", "wasm"]

[workspace.dependencies]
stak-device = { path = "../../device", version = "0.12.0", features = [
  "libc",
] }
stak-file = { path = "../../file", version = "0.12.0", features = ["libc"] }
stak-libc = { path = "../../libc", version = "0.12.0" }
stak-process-context = { path = "../../process-context", version = "0.12.0", features = [
  "libc",
] }
stak-r7rs = { path = "../../r7rs", version = "0.12.0" }
stak-sac = { path = "../../sac", version = "0.12.0", features = ["libc"] }
stak-time = { path = "../../time", version = "0.12.0", features = ["libc"] }
stak-vm = { path = "../../vm", version = "0.12.0" }

[workspace.lints.clippy]
alloc_instead_of_core = "deny"
cargo = "deny"
complexity = "deny"
correctness = "deny"
dbg_macro = "deny"
derive_partial_eq_without_eq = "deny"
equatable_if_let = "deny"
explicit_deref_methods = "deny"
if_not_else = "deny"
manual_let_else = "deny"
missing_const_for_fn = "deny"
missing_panics_doc = "deny"
multiple_crate_versions = { level = "allow", priority = 1 }
option_if_let_else = "deny"
perf = "deny"
std_instead_of_alloc = "deny"
std_instead_of_core = "deny"
style = "deny"
suspicious = "deny"
todo = "deny"
undocumented_unsafe_blocks = "deny"
unimplemented = "deny"
uninlined_format_args = "deny"
unnecessary_safety_comment = "deny"
unused_self = "deny"
use_self = "deny"

[workspace.lints.rust]
missing_docs = "deny"
warnings = "deny"

[profile.dev]
opt-level = 3
lto = true
panic = "abort"

[profile.dev.build-override]
opt-level = 3
debug-assertions = false
overflow-checks = false

[profile.release]
strip = true
lto = true
panic = "abort"
codegen-units = 1

[profile.release.build-override]
opt-level = 3
debug-assertions = false
overflow-checks = false
