.root {
  display: flex;
  flex-direction: column;
  min-height: 20rem;

  > * {
    flex: 1;
  }
}

.output {
  composes: textArea from "../../system.css";
  flex: 1;
  margin: 0;

  & > pre {
    margin: 0;
  }
}
