[package]
name = "stak-wasm"
version.workspace = true
edition.workspace = true
description = "Stak Scheme in WebAssembly"
readme.workspace = true
repository.workspace = true
license.workspace = true
keywords.workspace = true
categories.workspace = true

[package.metadata.cargo-machete]
ignored = ["wasm-bindgen-futures"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cfg-elif = "0.6.5"
stak-compiler = { path = "../compiler", version = "0.12.7" }
stak-configuration = { path = "../configuration", version = "0.12.7" }
stak-device = { path = "../device", version = "0.12.7", features = ["std"] }
stak-file = { path = "../file", version = "0.12.7" }
stak-macro = { path = "../macro", version = "0.12.7" }
stak-module = { path = "../module", version = "0.12.7" }
stak-process-context = { path = "../process-context", version = "0.12.7" }
stak-r7rs = { path = "../r7rs", version = "0.12.7" }
stak-time = { path = "../time", version = "0.12.7" }
stak-vm = { path = "../vm", version = "0.12.7", features = ["float"] }
wasm-bindgen = "0.2.97"
wasm-bindgen-futures = "0.4.50"
winter-maybe-async = "0.13.1"

[dev-dependencies]
stak-configuration = { path = "../configuration" }
stak-macro = { path = "../macro" }
wasm-bindgen-test = "0.3.47"

[build-dependencies]
stak-build = { path = "../build", version = "0.12.7" }

[features]
async = [
  "stak-compiler/async",
  "stak-device/async",
  "stak-file/async",
  "stak-macro/async",
  "stak-process-context/async",
  "stak-r7rs/async",
  "stak-time/async",
  "stak-vm/async",
]

[lints]
workspace = true
