[package]
name = "stak-wasm"
description = "Stak Scheme in WebAssembly"
version = "0.3.23"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
stak-compiler = { version = "0.2.4", path = "../compiler" }
stak-configuration = { version = "0.1.90", path = "../configuration" }
stak-device = { version = "0.2.94", path = "../device", features = ["std"] }
stak-file = { version = "0.5.8", path = "../file" }
stak-macro = { version = "0.2.13", path = "../macro" }
stak-module = { version = "0.1.14", path = "../module" }
stak-process-context = { version = "0.2.52", path = "../process_context" }
stak-r7rs = { version = "0.9.8", path = "../r7rs" }
stak-time = { version = "0.1.35", path = "../time" }
stak-vm = { version = "0.7.23", path = "../vm", features = ["float"] }
wasm-bindgen = "0.2.97"

[dev-dependencies]
stak-configuration = { path = "../configuration" }
stak-macro = { path = "../macro" }
wasm-bindgen-test = "0.3.47"

[build-dependencies]
stak-build = { version = "0.1.53", path = "../build" }

[lints]
workspace = true
