[package]
name = "stak-wasm"
description = "Stak Scheme in WebAssembly"
version = "0.3.18"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
stak-compiler = { version = "0.1.93", path = "../compiler" }
stak-configuration = { version = "0.1.85", path = "../configuration" }
stak-device = { version = "0.2.89", path = "../device", features = ["std"] }
stak-file = { version = "0.5.3", path = "../file" }
stak-macro = { version = "0.2.8", path = "../macro" }
stak-module = { version = "0.1.9", path = "../module" }
stak-process-context = { version = "0.2.47", path = "../process_context" }
stak-r7rs = { version = "0.9.3", path = "../r7rs" }
stak-time = { version = "0.1.30", path = "../time" }
stak-vm = { version = "0.7.18", path = "../vm", features = ["float"] }
wasm-bindgen = "0.2.97"

[dev-dependencies]
stak-configuration = { path = "../configuration" }
stak-macro = { path = "../macro" }
wasm-bindgen-test = "0.3.47"

[build-dependencies]
stak-build = { version = "0.1.48", path = "../build" }

[lints]
workspace = true
