[package]
name = "stak-wasm"
version.workspace = true
edition.workspace = true
description = "Stak Scheme in WebAssembly"
readme.workspace = true
repository.workspace = true
license-file.workspace = true
keywords.workspace = true
categories.workspace = true

[package.metadata.cargo-machete]
ignored = ["wasm-bindgen-futures"]

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cfg-elif = "0.6.3"
stak-compiler = { version = "0.10.38", path = "../compiler" }
stak-configuration = { version = "0.10.38", path = "../configuration" }
stak-device = { version = "0.10.38", features = ["std"], path = "../device" }
stak-file = { version = "0.10.38", path = "../file" }
stak-macro = { version = "0.10.38", path = "../macro" }
stak-module = { version = "0.10.38", path = "../module" }
stak-process-context = { version = "0.10.38", path = "../process_context" }
stak-r7rs = { version = "0.10.38", path = "../r7rs" }
stak-time = { version = "0.10.38", path = "../time" }
stak-vm = { version = "0.10.38", features = ["float"], path = "../vm" }
wasm-bindgen = "0.2.97"
wasm-bindgen-futures = "0.4.50"
winter-maybe-async = "0.13.1"

[dev-dependencies]
stak-configuration = { path = "../configuration" }
stak-macro = { path = "../macro" }
wasm-bindgen-test = "0.3.47"

[build-dependencies]
stak-build = { version = "0.10.38", path = "../build" }

[features]
async = [
  "stak-compiler/async",
  "stak-device/async",
  "stak-file/async",
  "stak-macro/async",
  "stak-process-context/async",
  "stak-r7rs/async",
  "stak-time/async",
  "stak-vm/async",
]

[lints]
workspace = true
