[package]
name = "stak-file"
description = "File system for Stak Scheme"
version = "0.5.7"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
libc = ["dep:rustix"]
std = []

[dependencies]
heapless = { version = "0.8.0", default-features = false }
rustix = { version = "0.38.44", default-features = false, features = [
  "fs",
], optional = true }
stak-vm = { version = "0.7.22", path = "../vm" }

[dev-dependencies]
tempfile = "3.15.0"

[lints]
workspace = true
