[package]
name = "stak-compiler"
description = "Stak Scheme bytecode compiler"
version = "0.1.64"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[dependencies]
stak-configuration = { version = "0.1.56", path = "../configuration" }
stak-device = { version = "0.2.60", path = "../device", features = ["std"] }
stak-file = { version = "0.4.18", path = "../file" }
stak-process-context = { version = "0.2.18", path = "../process_context" }
stak-r7rs = { version = "0.7.0", path = "../r7rs" }
stak-time = { version = "0.1.1", path = "../time" }
stak-vm = { version = "0.5.18", path = "../vm" }

[dev-dependencies]
indoc = "2.0.5"

[lints]
workspace = true
