[package]
name = "stak"
description = "Stak Scheme interpreter"
version = "0.3.14"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
default = ["float", "libc", "std"]
float = ["stak-vm/float"]
libc = [
  "stak-device/libc",
  "stak-file/libc",
  "stak-process-context/libc",
  "stak-time/libc",
]
std = [
  "stak-device/std",
  "stak-file/std",
  "stak-process-context/std",
  "stak-time/std",
]

[dependencies]
clap = { version = "4.5.23", features = ["derive"] }
main_error = "0.1.2"
stak-configuration = { version = "0.1.75", path = "../configuration" }
stak-device = { version = "0.2.79", path = "../device" }
stak-file = { version = "0.4.37", path = "../file" }
stak-macro = { version = "0.1.80", path = "../macro" }
stak-process-context = { version = "0.2.37", path = "../process_context" }
stak-r7rs = { version = "0.8.14", path = "../r7rs" }
stak-time = { version = "0.1.20", path = "../time" }
stak-vm = { version = "0.7.8", path = "../vm" }

[dev-dependencies]
stak-build = { path = "../build" }

[build-dependencies]
stak-build = { version = "0.1.38", path = "../build" }

[lints]
workspace = true
