[package]
name = "stak-time"
description = "Time library for Stak Scheme"
version = "0.1.37"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
libc = ["dep:rustix"]
std = []

[dependencies]
rustix = { version = "0.38.44", default-features = false, features = [
  "time",
], optional = true }
stak-vm = { version = "0.7.25", path = "../vm" }

[lints]
workspace = true
