[package]
name = "stak-time"
description = "Time library for Stak Scheme"
version = "0.1.16"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
libc = ["dep:libc"]
std = []

[dependencies]
libc = { version = "0.2", default-features = false, optional = true }
stak-vm = { version = "0.7.4", path = "../vm" }

[lints]
workspace = true
