[package]
name = "stak-sac"
description = "Stand-Alone Complex for Stak Scheme"
version = "0.1.72"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true

[features]
float = ["stak-vm/float"]
libc = [
  "dep:libc",
  "dep:stak-util",
  "stak-device/libc",
  "stak-file/libc",
  "stak-time/libc",
]
std = [
  "dep:clap",
  "dep:main_error",
  "stak-device/std",
  "stak-file/std",
  "stak-process-context/std",
  "stak-time/std",
]

[dependencies]
clap = { version = "4.5.21", features = ["derive"], optional = true }
libc = { version = "0.2", default-features = false, optional = true }
main_error = { version = "0.1.2", optional = true }
stak-configuration = { version = "0.1.66", path = "../configuration" }
stak-device = { version = "0.2.70", path = "../device" }
stak-file = { version = "0.4.28", path = "../file" }
stak-macro = { version = "0.1.71", path = "../macro" }
stak-process-context = { version = "0.2.28", path = "../process_context", features = [
  "libc",
] }
stak-r7rs = { version = "0.8.5", path = "../r7rs" }
stak-time = { version = "0.1.11", path = "../time" }
stak-util = { version = "0.1.46", path = "../util", optional = true }
stak-vm = { version = "0.6.5", path = "../vm" }
