[package]
name = "stak-configuration"
description = "Stak Scheme configuration"
version = "0.1.61"
edition.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
repository.workspace = true
