name: bench
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: bench-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
env:
  GUILE_AUTO_COMPILE: 0
jobs:
  command_time:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15
        options:
          -
          - -f i63
          - -f f62
        exclude:
          - os: ${{ github.ref == 'refs/heads/main' && 'none' || 'macos-15' }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: tools/bench.sh ${{ matrix.options }}
      - uses: actions/upload-artifact@v5
        with:
          name: time ${{ matrix.os }} ${{ matrix.options }}
          path: tmp/bench/time
  command_memory:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: tools/memory_bench.sh
      - uses: actions/upload-artifact@v5
        with:
          name: memory
          path: tmp/bench/memory
  rust:
    strategy:
      fail-fast: false
      matrix:
        options:
          -
          - --features float62
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo bench ${{ matrix.options }}
  codspeed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo install --features vendored-openssl cargo-codspeed
      - run: cargo codspeed build
      - uses: codspeedhq/action@v4
        with:
          mode: instrumentation
          run: cargo codspeed run
          token: ${{ secrets.CODSPEED_TOKEN }}
  size:
    strategy:
      fail-fast: false
      matrix:
        type:
          - binary
          - bytecode
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-scheme
      - run: echo type=${{ matrix.type }}_size >> ${{ github.env }}
      - run: tools/${{ env.type }}_bench.sh
      - run: >
          gosh tools/format-metrics.scm
          ${{ env.type }} "$(echo ${{ env.type }} | tr _ ' ')"
          <tmp/${{ env.type }}.txt >tmp/${{ env.type }}.json
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ env.type }}
          path: tmp/${{ env.type }}.json
  loc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: tools/rust_loc_bench.sh
  r7rs:
    strategy:
      fail-fast: false
      matrix:
        name:
          - Chibi
          - MIT
          - Stak
          - TR7
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-scheme
      - run: cargo install --path root
      - run: rm results.*
        working-directory: r7rs-benchmarks
      - run: make $(echo ${{ matrix.name }} | tr '[:upper:]' '[:lower:]')
        env:
          CPU_LIMIT: 600
        working-directory: r7rs-benchmarks
      - run: cat results.${{ matrix.name }}
        working-directory: r7rs-benchmarks
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.name }}_benchmark
          path: r7rs-benchmarks/results.${{ matrix.name }}
  report:
    needs:
      - size
    permissions:
      actions: write
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v5
        with:
          name: binary_size
      - uses: actions/download-artifact@v5
        with:
          name: bytecode_size
      - run: |
          (
            echo OCTOCOV_CUSTOM_METRICS_BINARY_SIZE=binary_size.json
            echo OCTOCOV_CUSTOM_METRICS_BYTECODE_SIZE=bytecode_size.json
          ) > ${{ github.env }}
      - uses: k1low/octocov-action@v1
  bench:
    needs:
      - command_time
      - command_memory
      - rust
      - size
      - loc
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
