name: document
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
  pages: write
  id-token: write
concurrency:
  group: document-${{ github.ref }}
  cancel-in-progress: true
jobs:
  rust_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo +nightly-2026-01-01 doc --all-features
  web_build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-node
      - uses: actions/configure-pages@v5
      - run: tools/document.sh
      - uses: actions/upload-pages-artifact@v4
        with:
          path: doc/dist
      - uses: actions/deploy-pages@v4
        if: github.ref == 'refs/heads/main'
  web_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-node
      - run: node --run lint:document
  web_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-node
      - run: tools/document.sh -l
      - run: node --run preview &
        working-directory: doc
      - uses: raviqqe/muffy@9af777b78a0887e110991c0d5ded88d47be8fea9 # v0.3.3
        with:
          config: muffy.local.toml
  web_release_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/muffy@9af777b78a0887e110991c0d5ded88d47be8fea9 # v0.3.3
  document:
    needs:
      - rust_build
      - web_build
      - web_lint
      - web_test
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
