name: lint
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: tools/lint.sh
  rust_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: cargo fmt -- --check
  scheme_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo install schemat
      - run: schemat -cv -i r7rs-benchmarks -i target '**/*.scm'
  gherkin_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: go tool gherkin-format -check .
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{feature,md,rs,scm,sh,toml}"
  toml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: node --run lint:toml
  unused_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      # spell-checker: disable-next-line
      - uses: bnjbvr/cargo-machete@main
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: raviqqe/markdown-link-check@v1
        with:
          paths: README.md examples
  lint:
    needs:
      - clippy
      - readme
      - rust_format
      - scheme_format
      - gherkin_format
      - spell_check
      - toml
      - unused_dependencies
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          for result in ${{ join(needs.*.result, ' ') }}; do
            [ $result = success ]
          done
