name: lint
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: tools/lint.sh
  rust_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: cargo fmt -- --check
  scheme_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: cargo +nightly install schemat
      - run: schemat -cv $(git ls-files '**.scm')
  gherkin_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: go run github.com/raviqqe/gherkin-format@latest -check .
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@main
        with:
          files: "**/*.{feature,md,rs,scm,sh,toml}"
  unused_dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - uses: bnjbvr/cargo-machete@main
  readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: raviqqe/markdown-link-check@v1
  lint:
    needs:
      - clippy
      - readme
      - rust_format
      - scheme_format
      - spell_check
      - unused_dependencies
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
