name: release
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  cargo:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
        if: github.ref == 'refs/heads/main'
      - run: tools/ci/release.sh ${{ github.ref != 'refs/heads/main' && '--dry-run' || '' }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
  wasm:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: pnpm/action-setup@v4
        with:
          package_json_file: wasm/package.json
      - uses: actions/setup-node@v6
        with:
          node-version-file: wasm/package.json
      - run: tools/build_wasm.sh
      - uses: raviqqe/pnpm-publish@v2
        with:
          directory: wasm
          release: ${{ github.ref == 'refs/heads/main' }}
  goreleaser:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: brew install zig
      - run: cargo install --locked cargo-zigbuild
      - id: version
        run: echo version=v$(cargo run --bin stak -- --version | grep -o '[0-9.]*') > ${{ github.output }}
      - uses: raviqqe/goreleaser-action@v1
        with:
          version: ${{ steps.version.outputs.version }}
          snapshot: ${{ github.ref != 'refs/heads/main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  docker:
    needs:
      - cargo
      - goreleaser
    strategy:
      fail-fast: false
      matrix:
        image:
          - binary: stak
          - binary: stak-compile
          - binary: stak-decode
          - binary: stak-interpret
          - binary: stak-profile
          - binary: stak-repl
          - binary: mstak
            directory: cmd/minimal
          - binary: mstak-interpret
            directory: cmd/minimal
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
        if: ${{ github.ref == 'refs/heads/main' }}
      - id: metadata
        run: |
          (
            echo image=${{ vars.DOCKER_USER || 'test' }}/${{ matrix.image.binary }}
            echo version=$(git tag --points-at | sed s/^v//)
          ) >> ${{ github.output }}
      - uses: docker/build-push-action@v6
        with:
          build-args: |
            BINARY=${{ matrix.image.binary }}
            DIRECTORY=${{ matrix.image.directory || '.' }}
          outputs: compression=zstd,force-compression=true
          platforms: |
            linux/amd64
            ${{ github.ref == 'refs/heads/main' && 'linux/arm64/v8' || '' }}
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: |
            ${{ steps.metadata.outputs.image }}:latest
            ${{ steps.metadata.outputs.version && format('{0}:{1}', steps.metadata.outputs.image, steps.metadata.outputs.version) || '' }}
  release:
    needs:
      - cargo
      - docker
      - goreleaser
      - wasm
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
