name: release
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: release-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}
jobs:
  cargo:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
        if: github.ref == 'refs/heads/main'
      - run: tools/ci/release.sh ${{ github.ref != 'refs/heads/main' && '--dry-run' || '' }}
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
  wasm:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    environment: ${{ github.ref == 'refs/heads/main' && 'release' || '' }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: pnpm/action-setup@v4
        with:
          package_json_file: wasm/package.json
      - uses: actions/setup-node@v6
        with:
          node-version-file: wasm/package.json
      - run: tools/build_wasm.sh
      - uses: raviqqe/pnpm-publish@v2
        with:
          directory: wasm
          release: ${{ github.ref == 'refs/heads/main' }}
  goreleaser:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: cargo install cross --git https://github.com/cross-rs/cross
      - id: version
        run: echo version=v$(cargo run --bin stak -- --version | grep -o '[0-9.]*') > ${{ github.output }}
      - uses: raviqqe/goreleaser-action@v1
        with:
          version: ${{ steps.version.outputs.version }}
          snapshot: ${{ github.ref != 'refs/heads/main' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  release:
    needs:
      - cargo
      - goreleaser
      - wasm
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
