name: test
on:
  push:
    branches:
      - main
  pull_request:
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true
env:
  GUILE_AUTO_COMPILE: 0
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        options:
          -
          - --no-default-features
          - --all-features
          - --features libc,std
          - --features float62
          - --features async
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo build --locked ${{ matrix.options }}
      - run: cargo test --no-run --locked ${{ matrix.options }}
  unit_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15
        options:
          -
          - --no-default-features
          - --features libc,std
          - --features float62
          - --features async
          - --features gc_always --exclude stak-compiler
        exclude:
          - os: ${{ github.ref == 'refs/heads/main' && 'none' || 'macos-15' }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo test --workspace ${{ matrix.options }}
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: tools/coverage.sh
      - uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: lcov.info
  integration_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15
        interpreter:
          - name: stak-tools
            host: chibi-scheme
          # TODO Test gosh
          # - name: stak-tools
          #   host: gosh
          - name: stak-tools
            host: guile
          - name: stak-tools
            host: guile
            compile_options: --debug
          - name: stak-tools
            host: guile
            features:
              - gc_always
            tags: ~@long
          - name: chibi
            tags: ~@stak,@chibi
          - name: gauche
            tags: ~@stak,@gauche
          - name: guile
            tags: ~@stak,@guile
        exclude:
          - os: ${{ github.ref == 'refs/heads/main' && 'none' || 'macos-15' }}
    runs-on: ${{ matrix.os }}
    env:
      STAK_HOST: ${{ matrix.interpreter.host }}
      STAK_COMPILE_OPTIONS: ${{ matrix.interpreter.compile_options }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-scheme
      - run: >
          tools/integration_test.sh
          -i ${{ matrix.interpreter.name }}
          -f ${{ join(matrix.interpreter.features, ',') }},
          -t '${{ matrix.interpreter.tags || '~@none' }}'
  extra_integration_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-scheme
      - run: tools/extra_integration_test.sh
  self_host_integration_test:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-15
        interpreter:
          - name: stak
          - name: stak-tools
          - name: mstak
            tags: ~@environment-variable && ~@float
          - name: mstak-tools
            tags: ~@environment-variable && ~@float
        exclude:
          - os: ${{ github.ref == 'refs/heads/main' && 'none' || 'macos-15' }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: >
          tools/integration_test.sh
          -i ${{ matrix.interpreter.name }}
          -f ${{ join(matrix.interpreter.features, ',') }},
          -t '${{ matrix.interpreter.tags || '~@none' }}'
  self_host_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: tools/self_host_test.sh
  minimal:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: cargo build
        working-directory: cmd/minimal
      - run: cargo build --release
        working-directory: cmd/minimal
      - run: ls -lB target/release
        working-directory: cmd/minimal
      - run: cargo fmt --check
        working-directory: cmd/minimal
      - run: cargo clippy
        working-directory: cmd/minimal
      - run: cargo test
        working-directory: cmd/minimal
  wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-node
      - run: tools/build_wasm.sh
      - run: wasm-pack test --node --release
        working-directory: wasm
      - run: wasm-pack pack
        working-directory: wasm
      # Test no changes in the Git repository.
      - run: git diff --exit-code
  decode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-node
      - run: tools/decode_test.sh
  r7rs_compatible_compiler:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-scheme
      - run: tools/r7rs_compatible_compiler_test.sh
  r7rs_compatible_library:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: stak tools/r7rs-compatible-library-test.scm prelude.scm tools/r7rs
  profile:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: tools/profile_test.sh
  unicode:
    strategy:
      fail-fast: false
      matrix:
        host:
          -
          - guile
          - gosh
          - chibi-scheme
    runs-on: ubuntu-latest
    env:
      STAK_HOST: ${{ matrix.host }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - uses: ./.github/actions/setup-scheme
      - run: tools/unicode_test.sh
  test:
    needs:
      - build
      - unit_test
      - integration_test
      - extra_integration_test
      - self_host_test
      - wasm
      - minimal
      - decode
      - r7rs_compatible_compiler
      - r7rs_compatible_library
      - profile
      - unicode
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
