[package]
name = "hot-reload"
version.workspace = true
edition.workspace = true
publish = false

[dependencies]
axum = "0.8.8"
stak = { path = "../../root", version = "0.12.5" }
tokio = { version = "1.48.0", features = ["rt-multi-thread"] }

[build-dependencies]
stak-build = { path = "../../build", version = "0.12.5" }

[features]
default = ["hot-reload"]
hot-reload = ["stak/hot-reload"]

[lints]
workspace = true
